footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;    
}

footer a {
    text-decoration: none;
    color: #333;    
    transition: all .5s;
}

footer a:hover {
    color: #4183c4;
}